/*css for HEADER*/

header {
  width: 100%;
  margin: 0 auto;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.Top {
  width: 90%;
  margin: 0 auto;
}

.logomain {
  float: left;
  margin-left: -10px;
  width: 250px;
  height: 100px;
}

.logo {
  width: 100%;
  height: 100%;
}

nav {
  float: right;
  width: 50%;
  padding-left: -10%;
  padding-right: -10%;
  margin-right: -15%;
  padding-top: 15px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 5%;
  padding-top: 5%;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

nav a:hover {
  color: white;
  background: black;
  transition: 0.5s;
  padding: 10px 20px 10px 20px;
  border-radius: 10px 10px 10px 10px;
}

hr.line {
  border-top: 10px solid gray;
  border-radius: 0px;
}

/*css for BODY*/

body {
  font-family: sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.about {
  text-align: justify;
  text-justify: inter-word;
}

#image1 {
  display: block;
  margin-left: 110px;
  margin-right: 110px;
}

h2.aboutTitle {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 28px;
  color: #c70039;
  font-weight: 500;
  margin-left: 200px;
  text-align: left;
  text-justify: inter-word;
}

p.aboutDesc {
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 18px;
  color: #581845;
  font-weight: 500;
  margin-left: 200px;
  text-align: justify;
  text-justify: inter-word;
}

.history {
  text-align: justify;
  text-justify: inter-word;
}

h2.historyTitle {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  color: #900c3f;
  font-weight: 500;
}

#image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.historyDesc {
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 18px;
  color: #581845;
  font-weight: 500;
  text-justify: inter-word;
  margin: auto;
  width: 60%;
  border: 3px solid#FFC300;
  padding: 10px;
}

.team {
  text-align: center;
}

h2.teamTitle {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  color: #900c3f;
  font-weight: 500;
}

h3.teamDesc {
  text-align: center;
  color: #c70039;
  font-family: "Staatliches", cursive;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding-bottom: 10px;
}

#image3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.operation {
  text-align: center;
}

h2.operationTitle {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  color: #900c3f;
  font-weight: 500;
}

h3.operationDesc {
  text-align: center;
  color: #581845 62;
  font-family: "Special Elite", cursive;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding-bottom: 10px;
}

/*css for FOOTER*/
.table {
  border: 2px solid grey;
  width: 100%;
  background-color: black;
  padding: 25px 25px 25px 25px;
}
.text {
  color: white;
  margin-left: 20px;
}
.follow {
  float: right;
  text-align: center;
  margin-right: 20px;
  color: white;
}
.footpic {
  width: 50px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
