/*Nur Sabrina Fasha binti Zaidi Sham (1813526)*/
/*css for HEADER*/

header {
  width: 100%;
  margin: 0 auto;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.Top {
  width: 90%;
  margin: 0 auto;
}

.logomain {
  float: left;
  margin-left: -10px;
  width: 250px;
  height: 100px;
}

.logo {
  width: 100%;
  height: 100%;
}

nav {
  float: right;
  width: 50%;
  padding-left: -10%;
  padding-right: -10%;
  margin-right: -15%;
  padding-top: 15px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 5%;
  padding-top: 5%;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

nav a:hover {
  color: white;
  background: black;
  transition: 0.5s;
  padding: 10px 20px 10px 20px;
  border-radius: 10px 10px 10px 10px;
}

hr.line {
  border-top: 10px solid gray;
  border-radius: 0px;
}

/*css for BODY*/

body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.search input[type="text"] {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searh button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

h1.checkTitle {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  color: #c70039;
  font-weight: 500;
  text-justify: inter-word;
}

/*css for FOOTER*/
.table {
  border: 2px solid grey;
  width: 100%;
  background-color: black;
  padding: 25px 25px 25px 25px;
}
.text {
  color: white;
  margin-left: 20px;
}
.follow {
  float: right;
  text-align: center;
  margin-right: 20px;
  color: white;
}
.footpic {
  width: 50px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
