/*css for HEADER*/
header {
  width: 100%;
  margin: 0 auto;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.Top {
  width: 90%;
  margin: 0 auto;
}

.logomain {
  float: left;
  margin-left: -10px;
  width: 250px;
  height: 100px;
}

.logo {
  width: 100%;
  height: 100%;
}

nav {
  float: right;
  width: 50%;
  padding-left: -10%;
  padding-right: -10%;
  margin-right: -15%;
  padding-top: 15px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 5%;
  padding-top: 5%;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

nav a:hover {
  color: white;
  background: black;
  transition: 0.5s;
  padding: 10px 20px 10px 20px;
  border-radius: 10px 10px 10px 10px;
}

/* css for body */
.register{
  height:700px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../resource/main.jpg);
  background-size: cover;
  background-position: center;
  
}
.form-box{
  width: 380px;
  height: 400px;
  background: rgb(235, 235, 193);
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  overflow: hidden;
}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ec7aca, #acc1e0);
  border-radius: 30px;
  transition: .5s;
}
.input-group{
top: 180px;
position: absolute;
width: 280px;
transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 2px;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;

}
.submit-btn{
width: 85%;
padding: 10px 30px;
cursor: pointer;
display: block;
margin: auto;
background: linear-gradient(to right, #ec7aca, #acc1e0);
border: 0;
outline: none;
border-radius: 30px;
}

#login{
  left: 50px;
}

#signup{
  left: 450px;
}

.customer{
  padding: 10px;
  margin: 20px;
}
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  width: 70%;
  margin: auto;
}


.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}



q {font-style: italic;}


.author {color: cornflowerblue;}


#event{
  margin-bottom: 70px;
  margin-top: 80px;
  margin-left: 50px;
  position: relative;
  height: 350px;
  width: 95%;
  background-color: rgb(231, 235, 241);
}

h2.eventtitle{
  text-align: center;
  font-family: 'serif', cursive;
  font-size: 35px;
  color: #2c0944;
  font-weight: 500;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}


.gallery img {
  width: 100%;
}

.operation {
  text-align: center;
}

h2.operationTitle {
  text-align: center;
  font-family: "serif", cursive;
  font-size: 30px;
  color: #900c3f;
  font-weight: 500;
}

h3.operationDesc {
  text-align: center;
  color: #581845 62;
  font-family: "Special Elite", cursive;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding-bottom: 10px;
}

h1.maintitle{
  text-align: center;
  font-family: "serif", cursive;
  font-size: 30px;
  color: #530e42;
  font-weight: 600;
}

/*css for FOOTER*/
.table {
  border: 2px solid grey;
  width: 100%;
  background-color: black;
  padding: 25px 25px 25px 25px;
}
.text {
  color: white;
  margin-left: 20px;
}
.follow {
  float: right;
  text-align: center;
  margin-right: 20px;
  color: white;
}
.footpic {
  width: 50px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
